In [8]:
import pandas as pd

In [9]:
# Leer el archivo con separador ;
df = pd.read_csv("datasets/categorias_startups.csv", sep=",")

In [10]:
df.head()

           company_name                                         categories
0                  QFEX        Financial Services, Lending and Investments
1                Eytrix  Artificial Intelligence (AI), Data and Analyti...
2  Minerva Intelligence                                 Financial Services
3         Terracotta AI  Artificial Intelligence (AI), Hardware, Inform...
4             TripleZip  Artificial Intelligence (AI), Data and Analyti...

In [11]:
# Función que asigna la primera categoría principal reconocida
def asignar_categoria_prioritaria(categorias_str):
    if pd.isna(categorias_str):
        return "Unspecified"
    categorias = [c.strip() for c in categorias_str.split(",")]
    categorias_mapeadas = [mapeo_categorias.get(c, "Unspecified") for c in categorias]
    for categoria in prioridad:
        if categoria in categorias_mapeadas:
            return categoria
    return "Unspecified"

In [12]:
# Supongamos que la columna se llama 'categories' y tiene valores separados por coma
df["categories"] = df["categories"].fillna("Unspecified")

# Separar por coma y hacer una fila por cada categoría
df_exploded = df.assign(category_split=df["categories"].str.split(",")).explode("category_split")

# Quitar espacios
df_exploded["category_split"] = df_exploded["category_split"].str.strip()

# Diccionario de mapeo a las 9 categorías principales
# 2. Mapeo de subcategorías a categorías principales
mapeo_categorias = {
    "Real Estate": "Real Estate and Construction",
    "Construction": "Real Estate and Construction",
    "Education": "Education",
    "Financial Services": "Financial",
    "Lending and Investments": "Financial",
    "FinTech": "Financial",
    "Health Care": "Health Care",
    "Biotech": "Health Care",
    "Industrial": "Industrials",
    "Manufacturing": "Industrials",
    "B2B": "B2B Software and Services",
    "SaaS": "B2B Software and Services",
    "Artificial Intelligence (AI)": "B2B Software and Services",
    "Data and Analytics": "B2B Software and Services",
    "Hardware": "B2B Software and Services",
    "Information Technology": "B2B Software and Services",
    "Consumer Goods": "Consumer",
    "Retail": "Consumer",
    "Government": "Government",
}

prioridad = [
    "Real Estate and Construction",
    "Industrials",
    "Education",
    "Financial",
    "B2B Software and Services",
    "Government",
    "Health Care",
    "Consumer",
    "Unspecified"
]

# Aplicar función a cada fila
df["main_category"] = df["categories"].apply(asignar_categoria_prioritaria)

# Guardar resultado
df.to_csv("datasets/categorias_startups_transformadas.csv", index=False)