In [1]:
import json
import pandas as pd

In [2]:
# Leer el archivo CSV con separador coma
df = pd.read_csv("datasets/startups_etapa_temprana_final.csv", sep=",")
df.head()

,company_name,link_company,equity_funding_total,num_articles,last_equity_funding_total,num_investments_funding_rounds,founded_on,ipqwery_num_trademark_registered,ipqwery_num_patent_granted,num_investors,...,facebook,facebook_followers,num_female_founders,num_male_founders,has_linkedin,has_facebook,has_twitter,twitter_followers,category,company_age
0,BlaBla Edtech,https://www.crunchbase.com/organization/blabla,3130612.0,1,1500000.0,0,2019-12-12,0,0,7,...,https://www.facebook.com/blabla.video,NaN,0,1,1,1,0,0,Educación,5
1,UrbanKisaan,https://www.crunchbase.com/organization/urbank...,10300000.0,28,2500000.0,0,2019-12-04,0,0,17,...,https://www.facebook.com/beanurbankisaan,NaN,0,3,1,1,1,0,Software y Servicios B2B,5
2,Mozper,https://www.crunchbase.com/organization/mozper,6114000.0,17,979000.0,0,2019-12-02,0,0,10,...,https://www.facebook.com/mozper.br,NaN,1,2,1,1,1,387,Finanzas,5
3,Explo,https://www.crunchbase.com/organization/explo,14450000.0,12,12000000.0,0,2019-12-01,395,974,10,...,NaN,0.0,0,4,1,0,1,579,Software y Servicios B2B,5
4,Depict,https://www.crunchbase.com/organization/depict-ai,19850000.0,6,17000000.0,0,2019-12-01,0,0,15,...,NaN,0.0,0,2,1,0,0,0,Consumo,5

In [3]:
# Leer el archivo CSV con separador coma
df_startups_redes_sociales = pd.read_csv("datasets/startups_etapa_temprana_datos_redes_sociales.csv", sep=";")
df_startups_redes_sociales.head()

,company_name,link_company,linkedin,linkedin_employees,linkedin_followers,facebook,facebook_followers,selected
0,BlaBla Edtech,https://www.crunchbase.com/organization/blabla,https://www.linkedin.com/company/30605367,NaN,NaN,https://www.facebook.com/blabla.video,NaN,0
1,UrbanKisaan,https://www.crunchbase.com/organization/urbank...,https://www.linkedin.com/company/urbankisaan/,68.0,12000.0,https://www.facebook.com/beanurbankisaan,4100.0,1
2,Mozper,https://www.crunchbase.com/organization/mozper,https://www.linkedin.com/company/mozper/,15.0,6000.0,https://www.facebook.com/mozper.br,5300.0,1
3,Explo,https://www.crunchbase.com/organization/explo,https://www.linkedin.com/company/explo-co/,36.0,3000.0,NaN,0.0,1
4,Depict,https://www.crunchbase.com/organization/depict-ai,https://www.linkedin.com/company/depict-ai/,29.0,7000.0,NaN,0.0,1

In [4]:
len(df_startups_redes_sociales)

753

In [5]:
df = df.drop(columns=["linkedin_employees", "linkedin_followers", "facebook_followers"], errors="ignore")

df = df.merge(
    df_startups_redes_sociales[["company_name", "linkedin_employees", "linkedin_followers", "facebook_followers", "selected"]],
    on="company_name",
    how="left"
)

In [6]:
len(df)

753

In [7]:
df = df[df_startups_redes_sociales["selected"] == 1]
len(df)

679

In [8]:
df = df.drop(["linkedin","facebook", "selected", "link_company","num_employees_enum", "has_linkedin", "has_facebook", "has_twitter"], axis=1)

In [9]:
df["years_since_last_funding"] = (pd.to_datetime("2025-07-10") - pd.to_datetime(df["last_funding_at"])).dt.days / 365

In [10]:
# Diccionario de traduccion sin tildes
column_translation = {
    
     # Datos de la empresa
    "company_name": "nombre_de_la_empresa",
    "founded_on": "fecha_de_fundacion",
    "ipqwery_num_trademark_registered": "numero_de_marcas_registradas",
    "ipqwery_num_patent_granted": "numero_de_patentes_otorgadas",
    "operating_status": "estado_operativo",
    "category": "categoria",
    "company_age": "antiguedad_de_la_empresa",
    "linkedin_employees": "empleados_en_linkedin",
    "linkedin_followers": "seguidores_en_linkedin",
    "facebook_followers": "seguidores_en_facebook",
    "twitter_followers": "seguidores_en_twitter",
    "num_articles": "numero_de_articulos",
    
    # Datos de fundadores
    "num_founders": "numero_total_de_fundadores",
    "num_female_founders": "numero_de_mujeres_fundadores",
    "num_male_founders": "numero_de_hombres_fundadores",
    
    # Informacion de fondeo
    "equity_funding_total": "financiacion_total_por_acciones",
    "last_equity_funding_total": "ultima_financiacion_por_acciones",
    "num_investments_funding_rounds": "numero_de_inversiones_en_rondas_de_financiacion",
    "num_investors": "numero_de_inversionistas",
    "num_lead_investors": "numero_de_inversionistas_principales",
    "funding_total": "financiacion_total",
    "num_funding_rounds": "numero_de_rondas_de_financiacion",
    "last_funding_type": "tipo_de_ultima_financiacion",
    "last_funding_at": "fecha_de_ultima_financiacion",
    "last_funding_total": "monto_de_ultima_financiacion",
     "years_since_last_funding": "años_desde_ultima_financiacion"
    
}

# Orden de columnas segun categorias
ordered_columns = [
     # Empresa
    "company_name", "founded_on", "ipqwery_num_trademark_registered",
    "ipqwery_num_patent_granted", "operating_status", "category", "company_age",
    "linkedin_employees", "linkedin_followers", "facebook_followers",
    "twitter_followers", "num_articles",
    
    # Fundadores
    "num_founders", "num_female_founders", "num_male_founders",
    
    # Fondeo
    "equity_funding_total", "last_equity_funding_total", "num_investments_funding_rounds",
    "num_investors", "num_lead_investors", "funding_total", "num_funding_rounds",
    "last_funding_type", "last_funding_at", "last_funding_total", "years_since_last_funding"
   
]

# Reordenar columnas y traducir nombres
df = df[ordered_columns].rename(columns=column_translation)

In [11]:
# Se filtra empresa que se encontró como outlier en el modelado
df_filtrado  = df[df['nombre_de_la_empresa'] != "Explo"].copy()

In [12]:
# Guardar 
df_filtrado .to_csv("datasets/startups_para_modelar.csv", index=False)
len(df_filtrado )

678

In [13]:
#df .to_csv("datasets/startups_para_modelar.csv", index=False)
#len(df )